/*Body*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /*you can change this when do it for the media query*/
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
}

header .icons a {
  margin: 0 10px;
}

/*main*/
main {
  padding: 5px 0;
}
/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -10;
  background-color: transparent;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero-text h1 {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}

.hero-text p {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.hero-text .btn {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #483c32;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.occ {
  padding-top: -100px;
  margin-top: -20px;
  color: #ffffff;
  font-size: 24px;
}
/*trends */
.trends {
  background-color: #f9f9f9;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.trends-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trends-text {
  max-width: 50%;
}
.trends-image img {
  width: 300px;
  border-radius: 10px;
}
.trends h2 {
  font-size: 36px;
  color: #313131;
  margin-bottom: 20px;
  margin-top: 0;
}

.trends p {
  font-size: 18px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 20px;
}

.trends .exp {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 0;
}
div .exp .arr {
  padding-bottom: 0;
}

.trends .btn {
  padding: 10px 0px;
  color: #483c32;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.trends .arr {
  font-size: 1.2rem;
  color: #483c32;
  padding-bottom: 10px;
}
/*collections start here*/
.collections {
  padding-top: 2rem 1rem;
}
.collections h2 {
  text-align: center;
  font-size: 36px;
  color: #313131;
  margin-bottom: 40px;
}
.collection-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 18px;
  padding-left: 10px;
  align-items: center;
}

.collection-item {
  width: 30%;
  text-align: center;
}

.collection-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.collection-item p {
  font-size: 18px;
  color: #313131;
  margin-top: 10px;
}

.circle-arrow {
  font-size: 24px;
  cursor: pointer;
}
/*links/stars*/
a {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}

/* Optional: Add hover styles if needed */
a:hover {
  text-decoration: none; /* Underline on hover, or any other desired effect */
}

/*Stars*/
.stars {
  color: #ffd700; /* Gold color for the stars */
  margin-left: 10px; /* Space between price and stars */
}

.stars i {
  margin-right: 2px; /* Space between stars */
}

/*newsletter starts here*/
.newsletter {
  padding: 1rem 1rem;
  text-align: center;
}
.news-continer {
  background-color: #54514d;
  border-radius: 30px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.newsletter h2 {
  padding-top: 20px;
  padding-bottom: 0px;
  color: #ffffff;
  font-family: Public sans, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 36px;
}

.update-fm {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.newsletter p {
  color: #ffffff;
  font-size: 14px;
}
.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-left: 10%;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #483c32;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  
  margin-right: 10%;
  
}

/* Products Section */

.products {
  padding: 50px 20px;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  position: relative;
}

.product-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}
.product-info {
  text-align: center;
  margin-top: 10px;
}
.product-title {
  font-size: 16px;
  margin: 10px 0;
}
.product-price {
  font-size: 14px;
  color: #888;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.tab-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}
.tab-button.active,
.tab-button:hover {
  background-color: #ddd;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
/*modal buttons for shopping also contains modals so check well*/
/*padding: 10px;*/
.modal-buttons {
  position: absolute;
  top: 70px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-buttons button {
  background: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-buttons button .fas {
  font-size: 1.2rem;
}

.product-item:hover .modal-buttons {
  opacity: 1;
}

button .fas {
  font-size: 1.2rem;
}
.liked {
  color: red; /* Highlight the liked button */
}

.bookmarked {
  color: green;
}

.icons {
  display: flex;
  gap: 20px;
}

.exp {
  display: flex;
  font-size: 24px;
  color: 483C32;
  cursor: pointer;
  padding-left: 20px;
}

.exp .arr {
  padding-left: 20px;
  font-size: 24px;
  color: 230B34;
}

/*checkout page start here. note it also contains modals so check well*/

.checkout-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
  margin-bottom: 15px;
}

.checkout-form,
.order-summary {
  width: 40%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-form h2,
.order-summary h2 {
  margin-bottom: 20px;
}

.checkout-form label {
  display: block;
  margin-bottom: 5px;
}

.checkout-form input,
.checkout-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form .card-details {
  display: flex;
  justify-content: space-between;
}

.checkout-form .card-details div {
  width: 48%;
}

.checkout-form button {
  width: 100%;
  padding: 15px;
  background: #5a4032;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.order-summary {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-summary .order-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.order-summary .order-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.order-summary .order-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-summary .order-item p {
  margin: 0;
}

.order-summary .order-totals p {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 30%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* checkout modal */
 
  .modal-content {
    text-align: center;
  }

  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }

  .modal-content img {
    width: 50px;
    height: 50px;
  }

  .modal-content h2 {
    margin-top: 10px;
  }

  .modal-content p {
    margin: 10px 0;
  }

  .modal-content a {
    color: #4caf50;
    text-decoration: none;
  }

  .modal-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-content button:hover {
    background-color: #45a049;
  }

/*cart start here*/
 
  main h1 {
    margin-left: 7%;
  }
  .shopping-bag {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
  }

  table {
    width: auto;
    border-collapse: collapse;
  }

  table thead {
    background-color: #f9f9f9;
  }

  table th,
  table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
  }

  .product-name {
    align-items: center;
    text-align: left;
  }

  .product-name img {
    width: 30%;
    margin-right: 10px;
  }

  .quantity {
    align-items: center;
    justify-content: center;
  }

  .quantity button {
    padding: 5px 10px;
    margin: 5px 5px;
  }

  .order-summary {
    width: 35%;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
  }

  .order-summary h2 {
    margin-top: 0;
  }

  .order-summary input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }

  .pass {
    display: flex;
    justify-content: center;
  }
  .order-summary .apply-btn {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .order-summary p {
    margin: 10px 0;
  }
  .payment-methods img {
    width: 50px;
    margin-right: 10px;
    tab-size: 50%;
  }

  .checkout-btn {
    width: 30%;
    padding: 15px;
    background-color: #483c32;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 5%;

    border-radius: 5px;
  }

  .ckout-div {
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
  }

  .all {
    display: flex;
    justify-content: space-between;
  }

/*footer*/
 
  footer {
    background-color: #222222; /* Darker background */
    color: white;
    padding: 1rem 1rem;
    justify-content: space-between;
    list-style: none;
  }
  .footer-content {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
  }
  .footer-links {
    display: flex;
  }
  .footer-section ul li {
    list-style: none;
    text-align: center;
  }
  .footer-section ul {
    list-style: none;
    align-items: center;
    padding-left: 0px;
  }
  .footer-section ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  .footer-content .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  .footer-content .footer-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .footer-content .footer-links {
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
  .footer-content .footer-links .footer-section {
    margin-bottom: 20px;
  }
  .footer-content .footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
  }

  .footer-content .footer-links ul li {
    margin-bottom: 5px;
  }

  .footer-content .footer-links ul li a {
    text-decoration: none;
    color: #ffffff;
  }

  .footer-bottom {
    padding: 5px 0;
    font-size: 14px;
    color: #bdbdbd; /* Light grey color */
    margin-top: 10px;
    text-align: left;
  }

  .footer-bottom p {
    color: #ffffff; /* White color */
    text-decoration: none; /* Remove underline */
    margin: 0 5px;
    padding-left: 40px;
    transition: color 0.3s; /* Smooth transition */
  }

  .footer-bottom .footer-social a {
    color: #ffffff;
    margin-left: 15px;
  }

  .las {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .footer-social a {
    color: #ffffff; /* White color*/
    font-size: 20px; /* Icon size */
    margin: 0 10px; /* Space between icons */
    transition: color 0.3s; /* Smooth transition */
  }
  .footer-social a:hover {
    color: #ffd700; /* Gold color on hover */
  }
  .footer-social {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
  }


/* media queuries*/
@media only screen and (max-width: 600px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    padding: 10px 0px; 
    
}
  header nav ul{
  font-size: 11px;
}
  header .icons a {
  margin: 0 3px;
}
header .logo {
  margin-left: 5px;
  font-size: 14px;
}
.hero-text h1 {
  margin-top: 5px;
  padding-top: 5px;
  font-size: 22px;
}
.hero-text p{
  font-size: 16px;
  margin: 3px 0;
}
.hero-text .btn {
  margin: 0 5px;
  margin-bottom: 5px;
  padding: 5px 20px;
  background-color: #483c32;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.trends {
  padding: 10px; 
}
.trends-content{
  display: flex;
  flex-direction : column;
  align-items: center;
}
.trends-text {
  max-width: 100%;
}
.trends-image img {
  width: 390px;
}
.trends-text h2 {
  font-size: 22px;
  color: #313131;
  margin-bottom: 10px;
}
.trends-text p {
  font-size: 18px;
  margin: 5px;
  color: #313131;
 
}
.exp a{
  margin: 0 10px;
}
.exp .arr {
  padding-bottom: 0;
}
.collections {
  padding: 10px; 
}
.collec {
  overflow-x: scroll;
}
.collections h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.collection-grid {
  width: fit-content;
  justify-content: center;
  gap: 18px;
  padding-left: 10px;
  align-items: center;
  display: flex;
}
.collection-item {
  width: 350px;
}
.collection-item p {
  padding: 20px 0px;
  font-size: 24px;
  margin: 0;
}
/*continue from products */
}
/* Phone*/
/*body, header, nav*/

/*part of it but save for later

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    align-items: center;
  }

  .checkout-form,
  .order-summary {
    width: 90%;
  }

  .checkout-form .card-details {
    flex-direction: column;
  }

  .checkout-form .card-details div {
    width: 100%;
  }
}
