body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
}

header .icons a {
  margin: 0 10px;
}
main {
  padding: 20px;
}
/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -10;
  background-color: transparent;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  /*padding: 20px;*/
  /*transform: translate(-50%, -50%);*/
  /*position: absolute;*/
  /*border-radius: 5px;*/
}

.hero-text h1 {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}

.hero-text p {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.hero-text .btn {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #483c32;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
/*trends */
.trends {
  background-color: #f9f9f9;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.trends-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trends-text {
  max-width: 50%;
}
.trends-image img {
  width: 300px;
  border-radius: 10px;
}
.trends h2 {
  font-size: 36px;
  color: #313131;
  margin-bottom: 20px;
  margin-top: 0;
}

.trends p {
  font-size: 18px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 20px;
}

.trends .exp {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 0;
}

.trends .btn {
  padding: 10px 0px;

  color: #483c32;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.trends .arr {
  font-size: 1.2rem;
  color: #483c32;
  padding-bottom: 10px;
}
/*collections start here*/
.collections {
  padding-top: 2rem 1rem;
}
.collections h2 {
  text-align: center;
  font-size: 36px;
  color: #313131;
  margin-bottom: 40px;
}
.collection-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 18px;
  padding-left: 10px;
  align-items: center;
}

.collection-item {
  width: 30%;
  text-align: center;
}

.collection-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.collection-item p {
  font-size: 18px;
  color: #313131;
  margin-top: 10px;
}

.circle-arrow {
  font-size: 24px;
  cursor: pointer;
}
/*links*/
a {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}

/* Optional: Add hover styles if needed */
a:hover {
  text-decoration: underline; /* Underline on hover, or any other desired effect */
}

/*Stars*/
.stars {
  color: #ffd700; /* Gold color for the stars */
  margin-left: 10px; /* Space between price and stars */
}

.stars i {
  margin-right: 2px; /* Space between stars */
}

/*newsletter starts here*/
.newsletter {
  padding: 1rem 1rem;
  text-align: center;
}
.news-continer {
  background-color: #54514d;
  border-radius: 30px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.newsletter h2 {
  padding-top: 20px;
  padding-bottom: 0px;
  color: #ffffff;
  font-family: Public sans, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 36px;
}

.update-fm {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.newsletter p {
  color: #ffffff;
  font-size: 18px;
}
.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #483c32;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
/* Products Section */
.products {
  padding: 50px 20px;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  position: relative;
}

.product-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}
.product-info {
  text-align: center;
  margin-top: 10px;
}
.product-title {
  font-size: 16px;
  margin: 10px 0;
}
.product-price {
  font-size: 14px;
  color: #888;
}
/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.tab-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}
.tab-button.active,
.tab-button:hover {
  background-color: #ddd;
}
/*cart start here*/
main h1 {
  margin-left: 7%;
}
.shopping-bag {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}

table {
  width: auto;

  border-collapse: collapse;
}

table thead {
  background-color: #f9f9f9;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.product-name {
  align-items: center;
  text-align: left;
}

.product-name img {
  width: 30%;
  margin-right: 10px;
}

.quantity {
  align-items: center;
  justify-content: center;
}

.quantity button {
  padding: 5px 10px;
  margin: 5px 5px;
}

.order-summary {
  width: 35%;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
}

.order-summary h2 {
  margin-top: 0;
}

.order-summary input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.pass {
  display: flex;
  justify-content: center;
}
.order-summary .apply-btn {
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.order-summary p {
  margin: 10px 0;
}
.payment-methods img {
  width: 50px;
  margin-right: 10px;
  tab-size: 50%;
}

.checkout-btn {
  width: 12%;
  padding: 10px;
  background-color: #483c32;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5%;
  margin: 20px 0;
  border-radius: 5px;
}

.ckout-div {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

.all {
  display: flex;
  justify-content: space-between;
}

/*footer*/
footer {
  background-color: #222222; /* Darker background */
  color: white;
  padding: 1rem 1rem;
  justify-content: space-between;
  list-style: none;
  /* Centered content */
  /*background-color: #1e1e1e; /* Dark background */
  /*color: #ffffff; /* White text color */
  /*padding: 20px 0;
  text-align: center; /* Centered content */
  /*
  flex-wrap: wrap;
  justify-content: space-between;*/
}
.footer-content {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;

  /* Divider line 
  
  /*justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0;
  */
}
.footer-links {
  display: flex;
}
.footer-section ul li {
  list-style: none;
  text-align: center;
}
.footer-section ul {
  list-style: none;
  align-items: center;
  padding-left: 0px;
}
.footer-section ul li a {
  text-decoration: none;
  color: #ffffff;
}
.footer-content .footer-logo {
  font-size: 24px;
  font-weight: bold;
}
.footer-content .footer-info p {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer-content .footer-links {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.footer-content .footer-links .footer-section {
  margin-bottom: 20px;
}
.footer-content .footer-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-content .footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-content .footer-links ul li {
  margin-bottom: 5px;
}

.footer-content .footer-links ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom {
  padding: 5px 0;
  font-size: 14px;
  color: #bdbdbd; /* Light grey color */
  margin-top: 10px;
  text-align: left;
}

.footer-bottom p {
  color: #ffffff; /* White color */
  text-decoration: none; /* Remove underline */
  margin: 0 5px;
  padding-left: 40px;
  transition: color 0.3s; /* Smooth transition */
}

.footer-bottom .footer-social a {
  color: #ffffff;
  margin-left: 15px;
}

.las {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.footer-social a {
  color: #ffffff; /* White color*/
  font-size: 20px; /* Icon size */
  margin: 0 10px; /* Space between icons */
  transition: color 0.3s; /* Smooth transition */
}
.footer-social a:hover {
  color: #ffd700; /* Gold color on hover */
}
.footer-social {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}
/* media queuries*/

/* Phone*/
/*body, header, nav*/
@media screen (max-width: 600px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }

  header .logo {
    font-size: 24px;
    font-weight: bold;
  }

  header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header nav ul li {
    margin: 0 10px;
  }

  header nav ul li a {
    text-decoration: none;
    color: #333;
  }

  header .icons a {
    margin: 0 10px;
  }
  main {
    padding: 20px;
  }
}

/* tablet*/
@media only screen and (min-width: 321px) and (max-width: 768px) {
}

/* Desktop*/
@media only screen and (min-width: 769px) {
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
